name: Event Driven ETL CI

on:
  push:
    branches:
      - main

jobs:
  basic-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Print message
        run: echo "GitHub Actions CI is working"
